@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 100;
  color: #808080;
}

.headerDivider {
   border-right: 1px solid;
   height: 50px;
   top: 10px;
   position: absolute;
}

#login-btn {
  height: 50px;
  width: 190px;
  left: 50%;
  transform: translateX(-50%);
}

#header-logo {
  height: 50px;
  position: absolute;
  justify-content: center;
}

#registration-login-links a {
  height: 50px;
  text-decoration: none;
  font-size: 2em;
  padding-top: 4px;
  /*width: calc(20% - 1em);*/
}

::-webkit-input-placeholder {
   color: #808080;
}

#search {
  height: 48px;
  width: 190px;
  border: none;
  font-size: 2em;
  background-color: white;
  outline: none;
  /*background-position: 10px 12px;*/
  background-repeat: no-repeat;
  transition: border-bottom .6s ease-in-out;
}

#search:focus {
  border-bottom: 1px solid #BBB;
}

#search:hover {
  cursor: pointer;
}

#search:hover::-webkit-input-placeholder {
  color: black;
}

#search:focus::-webkit-input-placeholder {
  color: #808080;
}

#reg-float-div {
  height: 18em;
  width: 15em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

#reg-forms {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#reg-float-div form input {
  display: block;
}

.hidden {
  display: none;
}

.home {
  position: relative;
  height: 100%;
  width: 100%;
}

#header_container {
  height: 4em;
  overflow: hidden;
}

.header_div {
  background-color: white;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: inherit;
  padding-top: 16px;
}

#map {
  height: 90%;
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#registration-login-links {
  display:flex;
  justify-content: space-around;
}

.btn:visited {
  color: #808080;
}

.btn {
  color: #808080;
}

#registration-login-links .btn:hover {
  color: black;
}
