#header_container {
  height: 10vh;
  overflow: hidden;
}

.header_div {
  background-color: white;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: inherit;
  padding-top: 20px;
}

#map {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#registration-login-links {
  display:flex;
  justify-content: center;
}

#registration-login-links.btn {
  color: red;
}

#header-logo {
  height: 40px;
}
