<% if logged_in? %>
   <span><%= current_user.username %></span>
   <form id="logout_user_form" action="/sessions/logout" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
   </form>
<% else %>
  <div id="registration-login-links">
    <a class="btn" href="/users/new">REGISTER</a>
    <a href="/places/new"><img id="header-logo" src="/favicon.ico" /></a>
    <a class="btn" href="/sessions/login">LOG IN</a>
  </div>
<% end %>
