<div id="navbar-container">
  <div id="navbar-links">
    <ul class="nav-list nav-left">
      <li><input class="btn vert-align" id="search" type="text" name="search" placeholder="SEARCH" onblur="this.value=''"></li>
    </ul>
    <ul class="nav-list nav-right">
      <% if !logged_in? %>
        <li><a class="btn vert-align" id="register-btn" href="/users/new">REGISTER</a></li>
      <% else %>
        <li><a class="btn vert-align">HI, <%= current_user.username.upcase %></a></li>
      <% end %>
      <% if !logged_in? %>
        <li><a class="btn vert-align" id="login-btn" href="/sessions/login">LOGIN</a></li>
      <% else %>
        <li><a class="btn vert-align" id="logout-btn" href="/sessions/logout">LOGOUT</a></li>
      <% end %>
    </ul>
  </div>
</div>
