<div class="home">
	<div id="map"></div>
	<div id="login-div" class="registration-floating-div float-div hidden">
		<%= erb :"/_login.html" %>
	</div>
	<div id="register-div" class="registration-floating-div float-div hidden">
		<%= erb :"/_new.html" %>
	</div>
</div>
<%= erb :"/_map.html" %>
