<!-- <div id="locationField" class="search-bar">
	<form>
		<input id="search" type="text" name="search" placeholder="SEARCH">
	</form>
</div> -->
<div class="home">
	<div id="map"></div>
	<div id="reg-float-div" class="registration-floating-div hidden">
		<form id="register_new_user_form" action="/users" method="POST">
		   <input type="text" name="user[username]" placeholder="Enter Email">
		   <input type="password" name="user[password]" placeholder="Enter Password">
		   <input type="password" name="password_confirmation" placeholder="Confirm Password">
		   <input id="submit-btn" type="submit" name="Register">
		</form>
	</div>
</div>
<script src="/js/map-search.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>&callback=initMap&libraries=places" async defer>
</script>
